html,
body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  background-color: blue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  min-height: 80vh;
  min-width: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 32, 32);
  padding: 1%;
}

.layoutHeader {
  min-width: 100vh;
  max-width: 100%;
  background-color: white;
  display: flex;
  padding: 2%;
  padding-right: 5%;
  justify-content: space-between;
  align-items: center;
}

.layoutFooter {
  min-height: 20vh;
  min-width: 100vh;
  max-width: 100%;
  padding: 4%;
  background-color: purple;
  display: flex;
  justify-content: end;
  align-items: center;
}

.layout {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100%;
  padding:0
}

.navHeader {
  display: flex;
  flex-direction: row;
}

.navLinkP {
  color: purple;
  margin-left: 6%;
  font-size: 2vh;
  text-decoration: underline;
  cursor: pointer;
}

.bigHeaderP {
  font-size: 3.4vh;
  color: black;
  cursor: pointer;
}

.loginBoard {
  justify-content: center;
  padding: 2%;
}

.landingButtonsBoard {
  margin-top: 0%;
}

.inputLabel {
  color: white;
}

.mainHeader {
  font-size: 4vh;
}

.logoTextSession {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tableHeader {
  color: white;
}

.tableField {
  color: white;
}

.homePageButton {
  cursor: pointer;
}

@media (max-width: 600px) {
  #navLinkP {
    margin-left: 0%;
  }
  #layoutHeader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
  }
  @media (max-width: 910px) {
    #landingContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: rgb(36, 32, 32);
    }
    #landingImage {
      width:100%;
    }
    #title {
      position: relative;
    }
    #landingButtonsContainer {
      position: none;
    }
  }
}
